* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding-top: 3rem;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 50pt;
}

.zone {
  margin-top: 3rem;
  border-bottom: 1px solid black;
}

.zone .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buildinglink {
  margin-right: 4rem;
  margin-top: 1rem;
  align-items: center;
}

